Repository ManageIQ/manageiq-providers-vmware, pull requests merged in 2023-05, with the labels that each got.

#867 Prevent `""` domain_name causing trailing `.`
  app/models/manageiq/providers/vmware/infra_manager/inventory/parser/host_system.rb
Labels: bug

#870 Converge batch_size and concurrent_requests
  app/models/manageiq/providers/vmware/infra_manager/metrics_capture.rb
  config/settings.yml
Labels: enhancement, metrics

#871 Defer metrics collection batching to queue
  app/models/manageiq/providers/vmware/infra_manager/metrics_capture.rb
Labels: refactoring, metrics
